In [1]:
import pandas as pd

#Data taken from https://www.kaggle.com/datasets/waqi786/medical-costs

data = pd.read_csv("../../data/medical_costs.csv")
data = data.drop('Region', axis=1) # I will train the model to predict the cost in the USA overall, independent of region
# Hope that will not ruin anything...

data.head()

   Age     Sex   BMI  Children Smoker  Medical Cost
0   58    male  15.6         2    yes      17907.54
1   24    male  29.8         0    yes      16312.64
2   50    male  29.0         5     no       6819.21
3   35    male  34.0         1     no       5247.87
4   31  female  17.6         3    yes      17525.49

In [2]:
sex_to_int = {
    'male' : 0,
    'female' : 1
}

smoker_to_int = {
    'no': 0,
    'yes': 1
}

data['Sex'] = data['Sex'].apply(lambda x: sex_to_int[x])
data['Smoker'] = data['Smoker'].apply(lambda x: smoker_to_int[x])
data['Age'] = data['Age'] / 65
data['BMI'] = data['BMI'] / 40
data['Children'] = data['Children'] / 5

data.head()

        Age  Sex    BMI  Children  Smoker  Medical Cost
0  0.892308    0  0.390       0.4       1      17907.54
1  0.369231    0  0.745       0.0       1      16312.64
2  0.769231    0  0.725       1.0       0       6819.21
3  0.538462    0  0.850       0.2       0       5247.87
4  0.476923    1  0.440       0.6       1      17525.49

In [3]:
output = data['Medical Cost']
input = data.drop('Medical Cost', axis = 1)

input.head()

        Age  Sex    BMI  Children  Smoker
0  0.892308    0  0.390       0.4       1
1  0.369231    0  0.745       0.0       1
2  0.769231    0  0.725       1.0       0
3  0.538462    0  0.850       0.2       0
4  0.476923    1  0.440       0.6       1

In [4]:
output.head()

0    17907.54
1    16312.64
2     6819.21
3     5247.87
4    17525.49
Name: Medical Cost, dtype: float64

In [5]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(input, output, test_size=0.1, random_state=42)

In [6]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.9975557959687352

In [7]:
import pickle

pickle.dump(model, open('../../models/model.pkl', 'wb'))